<div class="container mt-5 pt-5">

  <%= link_to note_path(@note), class: 'mb-5 text-decoration-none' do %>
    <i class="bi bi-arrow-left-circle-fill">Back</i>
  <% end %>

  <h1 class="mt-5">Edit Note</h1>

  <%= render "form", note: @note %>

</div>