<nav class="navbar bg-white shadow fixed-top p-3">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%# image credits to flaticon.com %>
      <%= image_tag "logo-md.png", alt: 'Logo', height: '24', width: '24', class: "d-inline-block align-text-top" %>
      MyNotebook
    <% end %>
    <% if current_page?(root_path) || current_page?(notes_path)  %>
      <%= link_to "New Note", new_note_path, class: "btn btn-success"%>
    <% end %>
  </div>
</nav>