<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "logo-md.png", alt: 'Logo', height: '24', width: '24', class: "d-inline-block align-text-top" %>
      MyNotebook
    </a>
  </div>
</nav>