<nav class="navbar bg-white shadow fixed-top p-3">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%# image credits to flaticon.com %>
      <%= image_tag "logo-md.png", alt: 'Logo', height: '24', width: '24', class: "d-inline-block align-text-top" %>
      MyNotebook
    <% end %>
    <%= link_to "New Note", new_note_path, class: "btn btn-success"%>
  </div>
</nav>